In [1]:
import requests

if __name__ == "__main__":

    results1 = """{
        "success": true,
        "timeseries": true,
        "start_date": "2012-05-01",
        "end_date": "2012-05-03",
        "base": "EUR",
        "rates": {
            "2012-05-01": {
            "USD": 1.322891,
            "AUD": 1.278047,
            "CAD": 1.302303
            },
            "2012-05-02": {
            "USD": 1.315066,
            "AUD": 1.274202,
            "CAD": 1.299083
            },
            "2012-05-03": {
            "USD": 1.314491,
            "AUD": 1.280135,
            "CAD": 1.296868
            }
        }
    }"""

    results = """{
        "success": true,
        "timestamp": 1519296206,
        "base": "EUR",
        "date": "2021-03-17",
        "rates": {
            "AUD": 1.566015,
            "CAD": 1.560132,
            "CHF": 1.154727,
            "CNY": 7.827874,
            "GBP": 0.882047,
            "JPY": 132.360679,
            "USD": 1.23396
        }
    }"""

    # print(df.to_dict(orient="records"))

    # for key, value in df.items():
    #     print(f'{value[[1]]}')

In [2]:
import json
import pandas as pd

json_object = json.loads(results1)
json_object

{'success': True,
 'timeseries': True,
 'start_date': '2012-05-01',
 'end_date': '2012-05-03',
 'base': 'EUR',
 'rates': {'2012-05-01': {'USD': 1.322891, 'AUD': 1.278047, 'CAD': 1.302303},
  '2012-05-02': {'USD': 1.315066, 'AUD': 1.274202, 'CAD': 1.299083},
  '2012-05-03': {'USD': 1.314491, 'AUD': 1.280135, 'CAD': 1.296868}}}

In [3]:
json_object.get("rates")

{'2012-05-01': {'USD': 1.322891, 'AUD': 1.278047, 'CAD': 1.302303},
 '2012-05-02': {'USD': 1.315066, 'AUD': 1.274202, 'CAD': 1.299083},
 '2012-05-03': {'USD': 1.314491, 'AUD': 1.280135, 'CAD': 1.296868}}

In [285]:
df = pd.DataFrame(json_object.get("rates"))

lst = []

for key, value in df.items():
    for inner_key in value.keys():
        lst.append([inner_key, value[inner_key], key])

print(lst)

df = pd.DataFrame(lst, columns=["currency", "rates", "date"])
df["base_currency"] = "EUR"
df = df.rename(columns={"rates": "rate"})
df

[['USD', 1.322891, '2012-05-01'], ['AUD', 1.278047, '2012-05-01'], ['CAD', 1.302303, '2012-05-01'], ['USD', 1.315066, '2012-05-02'], ['AUD', 1.274202, '2012-05-02'], ['CAD', 1.299083, '2012-05-02'], ['USD', 1.314491, '2012-05-03'], ['AUD', 1.280135, '2012-05-03'], ['CAD', 1.296868, '2012-05-03']]

  currency      rate        date base_currency
0      USD  1.322891  2012-05-01           EUR
1      AUD  1.278047  2012-05-01           EUR
2      CAD  1.302303  2012-05-01           EUR
3      USD  1.315066  2012-05-02           EUR
4      AUD  1.274202  2012-05-02           EUR
5      CAD  1.299083  2012-05-02           EUR
6      USD  1.314491  2012-05-03           EUR
7      AUD  1.280135  2012-05-03           EUR
8      CAD  1.296868  2012-05-03           EUR